.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  border: none;
  width: var(--sidebar-width-expanded);
  min-width: var(--sidebar-width-expanded);
  background: var(--sidebar-background-color);
  z-index: 100;
  transition: all 0.5s ease;
  color: var(--primary-text-color);
  margin: 0 !important;

  overflow-y: scroll;
}
.sidebar.close {
  width: var(--sidebar-width-collapsed);
  min-width: var(--sidebar-width-collapsed);
  border: none;
  overflow-y: unset;
}

.sidebar .nav-links {
  height: 100%;
  padding: 0 !important;
  margin: 0;
  overflow: auto;
}
.sidebar.close .nav-links {
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  margin: 5px 2.5%;
  width: 95%;
  background-color: transparent !important;
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links .parent-li:hover {
  background: var(--blue-color-light) !important;
  border-radius: var(--button-border-radius);
}

.sidebar.close .parent-li {
  padding-left: 20px;
}

.sidebar.close .nav-links li a {
  width: 30px !important;
}

.sub-menu li:hover {
  background: transparent !important;
}
.sidebar .nav-links .active {
  transition: all 0.4s ease;
  border-radius: var(--button-border-radius);
  background-color: var(--blue-color-light) !important;
}

.sub-menu li {
  background: transparent !important;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link-btn {
  padding: 0 !important;
}
.sidebar.close .nav-links li .iocn-link {
  display: flex;
}
.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: var(--primary-text-color);
  font-size: var(--icon-size);
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow {
  display: none;
}
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: transparent !important;
  height: 35px !important;
  padding: 0 0 0 5px;
}
.sidebar .nav-links li a .link_name {
  color: #fff;
  transition: all 0.4s ease;
  background-color: transparent !important;
  padding-left: 0px;

  margin: 0;
  font-family:
    Source Sans Pro,
    sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
}
.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu {
  background: var(--blue-color-dark) !important;
  list-style-type: none;
  padding: 0 35px !important;

  margin: 0;
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}
.sidebar .nav-links li .sub-menu a {
  color: var(--primary-text-color);
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  /* padding: 10px 20px; */
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 3s;
  -webkit-transition: height 300ms;
  transition: height 300ms;
}
.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 13px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  /* padding: 3px 20px 6px 16px; */
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.one {
  width: 80%;
  margin-left: 10%;
  background-color: black;
  height: 400px;
}

.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: var(--sidebar-width-expanded);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--profile-background);
  transition: all 0.5s ease;
}

.sidebar.close .profile-details {
  background: none;

  width: var(--sidebar-width-collapsed);
}
.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}
.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: var(--profile-background);
  transition: all 0.5s ease;
}

.sub-menu {
  display: none; /* Hide submenu by default */
}

.sidebar.close .sub-menu {
  z-index: 999;
  transition: height 300ms;
  box-sizing: border-box;
  background-color: var(--background-color);
  box-shadow:
    0 3px 6px -4px #0000001f,
    0 6px 16px #00000014,
    0 9px 28px 8px #0000000d;
  padding-left: 0px;
  width: 200px;
  border-radius: 4px;
  height: auto !important;
  display: block !important;
  transition: none !important;
  visibility: visible;
  overflow: auto;
  height: auto;
  position: fixed;
}

.sub-menu.show {
  display: block; /* Show submenu when 'show' class is added */
}

.iconSVG {
  user-select: none;
  width: 1em !important;
  height: 1em !important;
  display: inline-block;
  fill: currentColor;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.2857142857142856rem !important;
  color: #fff;
  margin: 0 15px 0 1px;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

.arrow-left,
.arrow-right {
  z-index: 9999;
  font-size: 1.2rem !important;
  background: var(--sidebar-toggle-icon-color);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
}

.arrow-left {
  top: 42px;
  left: 210px;
}

.arrow-right {
  top: 42px;
  left: 70px;
}

.button-collapsed {
  margin: 20px 7% 0px 7%;
  width: 86%;
  color: var(--sidebar-button-text-color);
  background-color: var(--yellow-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  border: none;
  font-weight: var(--button-font-weight);
}

.button-expanded {
  display: flex;
  margin: 20px 5% 15px 5%;
  align-items: center;
  width: 90%;
  text-align: center;
  justify-content: center;
  color: #fff;
  background-color: rgb(215, 154, 0);
  padding: 6px;
  border-radius: 3px;
  border: none;
  font-weight: 600;
}

.add-icon {
  font-size: 28px;
}

.create-new-icon {
  margin-right: 8px;
}

.org-logo-container{
  text-align: center;
}

.org-logo{
  width: 100%;
  height: 100%;
  padding: 20px 15px 0px 15px;
  
}

.org-logo-collapsed{

  width: 40%;
    height: 40%;
    margin-top: 20px;
}

@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
}
