.p-dialog .p-dialog-header {
  display: none;
}
.p-dialog .p-dialog-content
{
  padding: 0;
  border-radius: 8px;
}
.p-menu
{
  border: none;
  background: none;
  width: 100%;
}
.p-menu .p-menuitem > .p-menuitem-content > a >span
{
  color: #ffffff;
  font-weight: 600;
}
.bg-clr
{
  background: #0c1e35;
}
.p-menu ul
{
  color: #ffffff;
  /* padding: 10px; */
  background: none;

}
.icon-bg
{
  font-size: 32px;
  border: 1px solid white;
  padding: 4px;
  border-radius: 10px;
}


.p-menuitem-link:hover {
  background-color: rgb(0, 130, 159) !important;
  color: white !important;
  /* border-radius: 10px; */
}


.p-menuitem-link:active {
  background-color: rgb(0, 130, 159) !important;
  color: white !important;
  /* border-radius: 10px; */
}
.p-sidebar-content
{
  background: #0c1e35;
}
.p-sidebar-header
{
  display: none;
}

@media only screen and (max-width: 600px) {
  .p-dialog-mask
{
  display: block !important;
  width: 100%;
  height: 100%;
}

}

.p-dialog
{
  width: 55%;
  height: 100%;
  border-radius: 8px;
}
@media only screen and (max-width: 600px) {

.p-dialog
{
  width: 100%;
  height: 100%;
  max-height: fit-content;
}
}
.p-header{
  font-size: 20px;
  font-weight: 600;
}
.p-menu-separator
{
  opacity: 0.3;
  margin-top: 10px;
}
.close-icon
{
  background: #2196f3;
  border-radius: 20px;
  color: white;
  font-size: 25px;
}